/DraftScripts
Notes.odt
Main1.ipynb
Main2.ipynb
Main3.ipynb
Headers Diccionary.ipynb
Headers Routine.ipynb
Untitled.ipynb
/Availability_Factor/
table_data.csv
Availability_Factor1.ipynb
Availability_Factor9.ipynb
/Availability_Factor
Availability_Factor8.ipynb
Availability_Factor7.ipynb
Availability_Factor4.ipynb

Main_ENTSOE.ipynb


PowerPlantsRawDataDownloading.ipynb
CrossBorderFlowsRawDataDownladingFormating1.ipynb
NetTransferCapacitiesRawDataDownladingFormating1.ipynb

Power_Plants_1.ipynb

ReservoriusLevel_1.ipynb
ReservoriusLevel_2.ipynb
ReservoriusLevel_3.ipynb


